
/* DEALER*/

#dealer {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    font-family: "Play", sans-serif;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10+ and Edge */
    user-select: none;
    /* Standard syntax */
  }
  #dealer h1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 36px;
    color: white;
    top: 10px;
    text-shadow: 0 0 10px black;
    margin: 0;
    padding: 0;
  }
  #dealer #dealerSum {
    position: absolute;
    padding: 4px 8px;
    top: 140px;
    color: #e0e000;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    pointer-events: none;
    z-index: 4;
    opacity: 0;
    transition: 100ms ease-in-out;
    transform: translateX(-50%) !important;
    left: 50%;
    /* allow the width to be calculated dynamically */
    width: auto;
  }
  #dealer .dealer-cards {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 50%;
    width: 100%;
    transition: 500ms;
  }
  #dealer .visibleCards {
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: 500ms;
  }